# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Database
db.sqlite3

# Static
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Migrations cache
*.pyc

# Docker
*.pid

# Coverage
.coverage
htmlcov/

# IDE
.idea/